@import 'global.css';
@import 'footer.css';
@import 'navbar.css';

.course-container{
    gap: 20px;
    padding: 20px;
}

.course-icon{
    width: 40px;
    margin: 0;
}

.card-item{
    position: relative;
    -webkit-box-shadow: inset 0px -22px 71px -25px rgba(0,0,0,0.75); -moz-box-shadow: inset 0px -22px 71px -25px rgba(0,0,0,0.75); box-shadow: inset 0px -22px 71px -25px rgba(0,0,0,0.75);
}

.card-text{
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


.card-img{
    width: clamp(250px,20vw,300px);
    max-width: 300px;
    height: 100%;
}

.card-container{
    display: flex;
    gap: 3rem;
    overflow: scroll hidden;
}
.card-container::-webkit-scrollbar{
    padding: 5px;
    height: 8px;
}
.card-container::-webkit-scrollbar-thumb{
    background-color: #b0aeae;
    border-radius: 10px;
    
}

