@import 'global.css';





.banner {
    background-color: var(--primary-color);
    font-weight: bold;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--primary-font);
}


.content-wrapper {
    max-width: 1360px;
    margin: 0 auto;
}

/* MUDAR DPS PARA 3 COLUNAS */
.card-container {
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    max-width: 300px;
}

.card>img:last-child {
    width: 80%;
    margin: auto;
    padding-bottom: 10%;
}

#perfil-img {
    width: 70%;
    border-radius: 50%;
    margin: 0 auto;
}

.perfil-item {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 50px;
}

.perfil-item > .icon {
    display: grid;
    place-items: center;
    border-radius: 50% 0 0 50%;
    overflow: hidden;
    height: 100%;
    padding: 0 5px;
}

.perfil-item>.icon img {
    height: 40px;
    overflow: hidden;
}

.perfil-item>.label {
    height: 100%;
}

.perfil-info {
    height: 100%;
    display: grid;
    place-items: center;
    flex: 1;
    color: #fff;
    font-weight: 600;
}

.perfil-name:not(:nth-child(1)) {
    background-color: #000;
}

.bg-linkedin {
    background-color: #0A66C2 !important;
}

.bg-github {
    background-color: #000 !important;
}

#fatec{
    padding: 0 12%;
}

/* SOBRE O PROJETO */

#project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.about-project-text {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 40%;
}

.about-project-text>h2 {
    margin: 0;
}

p {
    margin-top: 30px;
    font-size: clamp(1.25rem, 1vw, 1.30rem);
    font-family: var(--seconday-font);
}

.about-project-img {
    min-width: 45%;
}


@media (max-width:1000px){
    .card-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}


@media (max-width:768px) {

    #project {
        align-items: start;
    }

    .about-project-text{
        width: 90%;
    }

    .about-project-img{
        display:none;
    }
}