@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

@import 'footer.css';
@import 'navbar.css';


/* Peguei isso de um cara aleatório na net */

h1 {
    font-size: 2.441rem;
    margin: 0;
}

h2 {
    font-size: 1.953rem;
}

h3 {
    font-size: 1.563rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.85rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0 1rem;
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
}

:root {
    --primary-font: 'Roboto Condensed', sans-serif;
    --secondary-font: 'Roboto', sans-serif;

    --primary-color: #000;
    --secondary-color: #fff;

    --main-padding: 20px 40px;
    --horizontal-padding: 40px;
    --vertical-padding: 20px;

    --navbar-height: 120px;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--secondary-font);
}


header > .banner {
    background-color: var(--primary-color);
    font-weight: bold;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--navbar-height) + var(--vertical-padding)) 5vw var(--navbar-height) 5vw;
    height: 35vh;
    background-size: cover;
    text-align: center;
    background-position: center;
}

header > .banner > .title {
    font-size: clamp(1.7rem, 9vw, 3rem);
    text-transform: uppercase;
}

main.wrapper {
    padding: calc(var(--navbar-height) + var(--vertical-padding)) 0 var(--navbar-height) 0;
    background: #000;
}

main > section {
    padding: calc(var(--vertical-padding) * 3) var(--horizontal-padding);
}

section > .description {
    color: rgba(0, 0, 0, .5);
    font-size: 1rem;
}

section.wrapper {
    width: 60%;
    margin: 0 auto;
}

.section-title {
    text-transform: uppercase;
    margin-bottom: 60px;
}

/* BTN */
.btn:is(a, button) {
    padding: 15px 25px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    user-select: none;
    font-size: clamp(1rem,1vw,5rem);
    background: transparent;
    line-height: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn.btn:is(a, button).dark {
    color: #000;
    border: 1px solid #000;
}

.btn.btn:is(a, button):disabled {
    opacity: .5;
}


.btn-cta{
    font-weight: 900;

}

@media (hover: hover) {
    .btn:is(a, button):hover{
        background: #fff;
        color: #000;
    }
}
/* SEPARAR SEÇÕES */
.divider {
    width: 100%;
    height: var(--vertical-padding);
    display: block;
}

/* CENTRALIZAR CONTEUDO DA PÁGINA */

.content-wrapper {
    max-width: 1360px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    :root {
        --main-padding: 10px 20px;
    }

    section.wrapper{
        width: auto;
        margin: 0 auto;
    }
}