@import 'global.css';

header > .banner {
    background-image: url('../img/index/banner-index.png');
    height: 35vh;
}

/* Aulas Interativas */

#aulas-interativas {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aulas-interativas > .fotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: clamp(10px, 20%, 20px);
    width: 100%;
    margin: 30px 0;
}

#aulas-interativas > .fotos > .foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #000000;
    transition: .2s ease transform;
}

#aulas-interativas > .fotos > .foto:hover {
    transform: rotate(3deg);
}

#aulas-interativas > .fotos > .foto:nth-child(1) { grid-area: 1 / 1 / 3 / 2; }
#aulas-interativas > .fotos > .foto:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
#aulas-interativas > .fotos > .foto:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }

/* Conheça o ambiente */ 

#conheca-o-ambiente {
    background: #000000;
    color: #ffffff;
}

#conheca-o-ambiente > h2 {
    text-align: center;
}

.locais-ambiente {
    width: calc(100% + var(--horizontal-padding));
    overflow: scroll hidden;
    gap: 20px;
    display: flex;
    clear: both;
}

.locais-ambiente::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}

.locais-ambiente::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #000000;
}

.locais-ambiente::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ffffff6d;
}

.locais-ambiente::-webkit-scrollbar-thumb:active, .locais-ambiente::-webkit-scrollbar-thumb:hover {
    background-color: #FFFFFF;
}

.local {
    position: relative;
    z-index: 10;
    width: 30vw;
    max-width: 519px;
    min-width: 300px;
    height: 60vh;
    max-height: 594px;
    flex-shrink: 0;
}

/* Efeito gradiente */
.local::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 4;
}

.local > .fundo {
    position: absolute;
    top: 0;
    left: 0;
    
    box-sizing: border-box;
    
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.local > .nome {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    
    z-index: 5;
}

.caracteristicas {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: calc(var(--vertical-padding) * 2);
    gap: 20px;
}

.caracteristicas > .caracteristica {
    gap: 10px;
    display: flex;
    align-items: flex-start;
}

.caracteristica > .info h2 {
    text-transform: uppercase;
    margin: 0;
}

.caracteristica > .icon-container {
    height: 100%;
    min-width: 50px;
}

.icon-container > .icon {
    width: 100%;
}

.caracteristica > .info p {
    color: #787878;
}

/* Atividades práticas */

#atividades-praticas {
    background-image: url('../img/index/atividades-praticas/fundo.png');
    background-size: cover;
    padding: calc(var(--vertical-padding) * 4) var(--horizontal-padding);
    color: #fff;
}

#atividades-praticas h1 {
    font-size: clamp(1.5rem, 8vw, 2.5rem);
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.atividades-showroom {
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
    padding: 30px 40px;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: cover;
    background-position: center;
}

.atividades-showroom:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 4;
}

.atividades-showroom > .info {
    width: 40%;
    z-index: 5;
}

.atividades-showroom > .info p {
    color: #e6e5e5;
}


/* SOBRE A ESCOLA */
#sobre-escola{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#sobre-escola .center{
    text-align: center;
}

.section-title{
    margin-bottom: 30px !important;
}

.content-sobre-escola{
    display: flex;
    justify-content: space-between;
}

.sobre-escola-img{
    width: 40%;
}


.sobre-escola-img > img{
    max-width: 400px;
    width: 100%;
}

.sobre-escola-text{
    width: 50%;
}

.sobre-escola-text > p{
    margin-top: 26px;
    font-size: var(--h3);
}

.sobre-escola-text > a{
    margin-top: 26px;
}


@media screen and (max-width: 768px) {
    .caracteristicas {
        display: flex;
        flex-direction: column;
    }

    /* Atividades práticas */
    .atividades-showroom > .info {
        width: auto;
    }

    /* SOBRE A ESCOLA */
    
    .content-sobre-escola{
        position:relative;
    }
    .sobre-escola-img{
        position:absolute;
        display: flex;
        justify-content: center ;
        top: -36px;
        opacity:0.1;
        width:100%;
    }

    .sobre-escola-text{
        width:100%;
    }


}