.game {
    height: 100vh !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}

.notes-container{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}

.notes-container > .note {
    color: #808080;
    font-size: 1.5rem;
    font-weight: 500;
    transition: .2s ease;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
    margin: 0;
    padding: 0;
}

.notes-container > .note:disabled {
    opacity: .2;
}

.notes-container > .note.selected {
    color: #ffffff;
}

.notes-container > .note.right {
    color: #00ff6a;
    opacity: .5;
}

.notes-container > .note.wrong {
    color: #ff6200;
    opacity: .7;
}

.btn {
    font-weight: 700;
    font-family: var(--primary-font);
    border-width: 4px;
}

.btn.playing {
    background: #fff;
    color: #000;
}

.teste-jogo {
    background-color: var(--primary-color);
    font-weight: bold;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-size: cover;
    text-align: center;
    background-position: center;
}

.teste-jogo > .buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .notes-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;
    }

    .teste-jogo > .buttons{
        flex-direction: column;
    }

    .buttons {
        width: 100%;
    }

    .buttons > .btn{
        width: 100%;
    }

    .notes-container > .note {
        color: #808080;
        font-size: 1.2rem;
        font-weight: 500;
    }
    
}
